#days {
    &::after {
        content: " jours";
    }
}

#hours {
    &::after {
        content: " heures";
    }
}

#minutes {
    &::after {
        content: " minutes";
    }
}

#seconds {
    &::after {
        content: " secondes";
    }
}