h1 {
  border: 2px solid red;
}

#days::after {
  content: " jours";
}

#hours::after {
  content: " heures";
}

#minutes::after {
  content: " minutes";
}

#seconds::after {
  content: " secondes";
}

h1 {
  color: green;
}
